header{
    background-image: src="https://images.pexels.com/photos/2749939/pexels-photo-2749939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 15px 90px rosybrown;

}

.App-header{
    min-height: 100vh;
    color:bisque;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

shop-btn{
    padding: 10px 40px;
    opacity: 15px;
    background-color: transparent;
    color:antiquewhite;
    border: solid 1px;
    border-color: aliceblue;
    
}

.anuncio{
    text-align: center;
    font-size: 30px;
}